<apex:page showHeader="false" sidebar="false" Controller="GeneratSOSLQuery" id="page">
   <!-- <script type="text/javascript">
        function performValidation(){
           var apexInput = document.getElementById("{!$Component.SearchString.pgb_SearchString.FindStr}").value;
           var input = document.getElementById('{!$Component.page.SearchString.pgb_SearchString.FindStr}');
           console.log(input);
           alert(input);
           alert(apexInput);
           console.log( "ready!");
           <!-- Console.log('Hello JavaScript');
            var x = document.getElementById('{!$Component.SearchString.thepageblock.FindStr}').value;
            alert(x);
            if(x==""){
                alert("Please enter String in Text field");
            }
            else{
                alert("Do you really want to Find the String : "+x);
            } 
        }
        </script> -->
        <apex:form id="SearchString">
                <apex:pageMessages ></apex:pageMessages>
                <apex:pageBlock id="pgb_SearchString">
                    <apex:outputLabel >ENTER SEARCH STRING &nbsp;&nbsp;&nbsp;</apex:outputLabel>
                    <apex:inputText value="{!searchString}" id="FindStr" />
                    <br/>
                    <br/>
                    <apex:outputLabel >SELECT OBJECT&nbsp;&nbsp;&nbsp;</apex:outputLabel>
                    <apex:selectList value="{!selectedObject}" size="1">
                        <apex:selectOptions value="{!ObjectNames}" />
                        <apex:actionSupport event="onchange" action="{!getFields}" status="changeLanguageStatus" rerender="abcd"/>
                        <apex:actionstatus id="changeLanguageStatus">
                            <apex:facet name="start">
                                <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                    height: 100%;opacity:0.65;width:100%;"> 
                                    <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                                        <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                        <span class="waitingDescription">Please Wait...</span>
                                    </div>
                                </div>
                            </apex:facet>
                        </apex:actionstatus>
                    </apex:selectList>
                    <br/>
                    <br/>
                    <apex:outputLabel >SELECT FIELDS &nbsp;&nbsp;&nbsp;</apex:outputLabel>
                    <apex:panelGrid columns="3" id="abcd">
                        <apex:selectList id="sel1" value="{!leftselected}" multiselect="true" style="width:300px" size="10">
                            <apex:selectOptions value="{!unselectedvalues}" />
                        </apex:selectList>
                            <apex:panelGroup >
                                <br/>
                                <apex:image value="{!$Resource.multiselected}">
                                    <apex:actionSupport event="onclick" action="{!selectclick}" reRender="abcd"/>
                                </apex:image>
                                <br/><br/>
                                <apex:image value="{!$Resource.multiunselected}">
                                    <apex:actionSupport event="onclick" action="{!unselectclick}" reRender="abcd"/>
                                </apex:image>
                            </apex:panelGroup>
                        <apex:selectList id="sel2" value="{!rightselected}" multiselect="true" style="width:300px" size="10">
                            <apex:selectOptions value="{!SelectedValues}" />
                        </apex:selectList>
                    </apex:panelGrid>
                    <br/>
                    <br/>
                    <apex:OutputPanel >
                         Max Records to Display :
                            <apex:selectList size="1" value="{!limitSOSL}">
                                <apex:selectOption itemValue="None" itemLabel="None"/>
                                <apex:selectOption itemValue="500" itemLabel="500"/>
                                <apex:selectOption itemValue="1000" itemLabel="1000"/>
                                <apex:selectOption itemValue="1500" itemLabel="1500"/>
                                <apex:selectOption itemValue="2000" itemLabel="2000"/>
                            </apex:selectList>
                    
                    </apex:OutputPanel>
                    <br />
                    <apex:OutputPanel >
                         Sort As : <apex:selectRadio value="{!order}">
                                <apex:selectOption itemValue="ASC" itemLabel="Ascending"/>
                                <apex:selectOption itemValue="DESC" itemLabel="Descending"/>
                            </apex:selectRadio>
                            
                    
                    </apex:OutputPanel>
                    
                  
                    <apex:pageBlockButtons location="bottom">
                            
                            <apex:commandButton action="{!runSOSL}" value="Execute Query"/>
                           <!-- <apex:commandButton onclick="performValidation()" action="{!runSOSL}" value="Execute Query"/> -->
                        </apex:pageBlockButtons>
                    </apex:pageBlock>
                    <apex:pageBlock >
                        SOSL Query :- 
                        <apex:inputTextarea cols="200" rows="5" disabled="true" value="{!SOSLQuery}"/>
                    </apex:pageBlock>
                    <apex:pageBlock >
                        Query Result :-
                        <apex:pageblockTable value="{!SOSLResult}" var="objRecords" >
        
                            <apex:repeat value="{!lstFlds}" var="fld">
                                <apex:column value="{!objRecords[fld]}"/>
                            </apex:repeat>
                        </apex:pageblockTable>
                    </apex:pageBlock>
        </apex:form>    
</apex:page>