<apex:page standardController="Weather_History__c" extensions="WeatherController" docType="html-5.0" showHeader="false" sidebar="false" lightningStyleSheets="true" title="Weather App">
<style>
    .metadataListHeader {
    background-color: #c9c7c5 !important;
    color: black !important;
    }
</style>
<apex:slds />

    <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    
	<apex:pageMessages id="pageMessage" />

    <body class="slds slds-scope slds-container slds-container_center">
        <apex:form >
            <div style="border-radius: 1px;" class="slds-page-header slds-theme_inverse slds-align_absolute-center">
                <div class="slds-text-heading_large slds-p-top_xxxx-small" >Weather App</div>
            </div>
            <div class="slds-box slds-theme_shade slds-m-top_medium slds-m-horizontal_x-large">
                <div class="slds-text-heading_medium slds-align_absolute-center slds-m-top_x-medium">
                    Please specify Place and Date for viewing the weather records
                </div>

                <apex:pageBlock >
                    <center>
                        <div class="slds-m-top_x-small slds-m-left_xxxx-small slds-grid slds-wrap">
                            <div class="slds-size_1-of-2">
                                <b class="slds-float_right" style="margin-right:5px;"> City Name </b>
                            </div>
                            <div class="slds-size_1-of-2">
                                <div class="slds-float_left" >
                                    <apex:inputField id="cityName" style="width:85%;" type="text" value="{!Weather_History__c.City_Name__c}" />
                                </div>
                            </div>
                        </div>
                        <div class="slds-m-top_x-small slds-m-left_xxxx-small slds-grid slds-wrap">
                            <div class="slds-size_1-of-2">
                                <b class="slds-float_right" style="margin-right:5px;"> Start Date </b>
                            </div>
                            <div class="slds-size_1-of-2">
                                <div class="slds-float_left" >
                                    <apex:inputField id="startDate" type="datetime" style="width:50%;" value="{!Weather_History__c.Start_Date__c}" showDatePicker="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="slds-m-top_x-small slds-m-left_xxxx-small slds-grid">
                            <div class="slds-size_1-of-2">
                                <b class="slds-float_right" style="margin-right:5px;"> End Date </b>
                            </div>
                            <div class="slds-size_1-of-2">
                                <div class="slds-float_left">
                                    <apex:inputField id="endDate" type="datetime" style="width:50%;" value="{!Weather_History__c.End_Date__c}" showDatePicker="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid  slds-m-top_x-small">
                            <div class="slds-size_1-of-1 slds-m-left_small">
                                    <apex:commandButton styleClass="slds-button slds-col slds-size_1-of-1" style="margin-top:10px; margin-left:70px; width: 170px; height:30px; background-color:rgb(6, 28, 63); color:#ffffff;"
                                                action="{!searchDateRange}" value="Get Weather History" reRender="dataWrapperPanel, scriptSection, pageMessage" lang="End Date" />
                            </div>
                        </div>
                    </center>
                    <apex:outputPanel id="dataWrapperPanel" >
                        <apex:pageBlock id="dataBlock" rendered="{! showResult }">

                            <div style="height: 1px;" class="slds-page-header slds-theme_inverse slds-text-heading_small slds-align_absolute-center slds-m-top_medium slds-m-bottom_xx-small">
                                <h2 class="slds-m-left_medium">Weather Records</h2>
                            </div>
							
							<div class="slds-grid  slds-m-top_x-small" style="margin-bottom:10px;">
                                <div class="slds-size_1-of-2 slds-m-left_small">
                                        <apex:commandButton styleClass="slds-button slds-float_right slds-col slds-size_1-of-1" style="margin-top:10px; margin-left:70px; width: 170px; height:30px; background-color:rgb(6, 28, 63); color:#ffffff;"
                                                    action="{!saveRecord}" value="Save Record" reRender="dataWrapperPanel, pageMessage" lang="End Date" />
                                </div>

								<div class="slds-size_1-of-2 slds-m-left_small">
                                        <apex:commandButton styleClass="slds-button slds-col slds-float_left slds-size_1-of-1" style="margin-top:10px; margin-left:70px; width: 170px; height:30px; background-color:rgb(6, 28, 63); color:#ffffff;"
                                                    action="{!exportToPdf}" value="Export to PDF" reRender="dataWrapperPanel, pageMessage" lang="End Date"/>
                                </div>
                            </div>

                            <table class="slds-table slds-table--bordered" id="showData">
                                <thead>
                                    <tr class="slds-line-height_reset">
										<th class="slds-text-title_caps"><strong>Date</strong></th>
                                        <th class="slds-text-title_caps"><strong>Temperatue</strong></th>
                                        <th class="slds-text-title_caps"><strong>Pressure</strong></th>
                                        <th class="slds-text-title_caps"><strong>Humidity</strong></th>
                                        <th class="slds-text-title_caps"><strong>Minimum Temprature</strong></th>
                                        <th class="slds-text-title_caps"><strong>Maximum Temprature</strong></th>
                                    </tr>
                                </thead>
                                <apex:repeat value="{!listOfWeatherWraper}" var="weather">
                                    <tr>
										<td>{!weather.weatherdate}</td>
                                        <td>{!weather.temp}</td>
                                        <td>{!weather.pressure}</td>
                                        <td>{!weather.humidity}</td>
                                        <td>{!weather.temp_min}</td>
                                        <td>{!weather.temp_max}</td>
                                    </tr>
                                    <br />
                                </apex:repeat>
                            </table>

                        </apex:pageBlock>
                        <apex:outputLabel id="noRecFound" rendered="{! blnNoResultFound }">No Record Found !!!</apex:outputLabel>
                    </apex:outputPanel>
                </apex:pageBlock>
            </div>
        </apex:form>

        <apex:outputPanel id="scriptSection" >
            <script >
                var cityName = $("[id$=cityName]").val();
                var startDate = $("[id$=startDate]").val();
                var endDate = $("[id$=endDate]").val();
                var contactTable = $('[id$="showData"]').DataTable({});
                var msg = 'The start date should be lower than the end date.';
                var title = 'Date Warning';
				if(startDate > endDate) {
                    toastr.error(msg, title, {
                                        "timeout" : "500",
                                        "closeButton" : true,
                                        "positionClass" : "toast-bottom-right"
                                      }
                    );
                }
            </script>
        </apex:outputPanel>
    </body>
	<script>	
		function validateForm() {
            var formIsValid = true;
            $('.requiredInput').each(function(index, el) {
                var $el = $(el);
                if ($el.val() === '') {
                    formIsValid = false;
                    toastr.error(
                        "Please "
                        + (el.type === 'file' ? "attach" : ($el.is('select') ? "select" : "enter"))
                        + " "
                        + $el.data('label') || ''
                    );
                    return formIsValid;
                }
            });
        
            return formIsValid;
        }
	</script>
</apex:page>